@import 'jeet'
@import 'rupture'
@import 'axis'

normalize-css()
fluid-media()

section
    center(960px)

contact-list
    h1
        text-align: center
    section
        span(2/3)
        shift(1/6)
    .contact-head
        text-align: center
    article
        text-align: center
    .col
        span(1/3)