@import 'jeet'
@import 'rupture'
@import 'axis'

@font-face {
    font-family:"Bebas Neue";
    src: url("fonts/BebasNeueNormal.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
    font-family:"Bebas Neue";
    src: url("fonts/BebasNeueBold.ttf"); /* TTF file for CSS3 browsers */
    font-weight: bold;
}

normalize-css()
fluid-media()

input
    border-radius: 3px
    border: 1px solid #ddd

html
    color: #555555
    font-family: 'PT Sans'
    font-size: 1.0em
    
h2
    font-weight: normal
    
h3
    font-weight: normal

h4
    font-weight: normal

inventory
    h2
        margin 10px
    i
        margin: 20px
    a
        color: #494949
        text-decoration: none
    button
        button: #67a236, 16, #cbe2b7
        border-radius: 5px
        font-family: 'PT Sans'
        font-weight: normal
    section.inventory-header
        color: #292929
        clearfix()
        background #aaa
        text-align: center
        position: relative
        .col-1
            span(1/20)
            align(vertical)
        .col-2
            span(9/20)
            h2
                text-align: center
            margin-left: 5%
        .col-3
            span(6/20)
            h2
                text-align: center
        .col-4
            span(4/20)
            button
                button: #dadada, 16, #666
                border-radius: 5px
                font-family: 'PT Sans'
                font-weight: normal
                display: inline
                text-align: center
            align(vertical)
            margin-left: 80%
        border-bottom: 3px solid #494949
        margin-bottom: -2px
    table
        width: 100%
        input[type="checkbox"]
            display: block
            margin: auto
        tr
            table()
            td
                vertical-align: middle
                text-align: center
            td.sel-col
                width: 5%         
            td.item-col
                width: 45%
            td.stock-col
                text-align: center
                input
                    width: 60px
                button
                    button: #dadada, 12, #666
                    border-radius: 5px
                    font-family: 'PT Sans'
                    font-weight: normal
                    display: inline
                    padding: 0px;
                width: 30%
            td.submit-col
                text-align: center
                width:20%
        tr:nth-child(even)
            background: #eee
         
order
    h2
        margin 10px
    i
        margin: 20px
    a
        color: #494949
        text-decoration: none
    button
        button: #67a236, 16, #cbe2b7
        border-radius: 5px
        font-family: 'PT Sans'
        font-weight: normal
    section.order-header
        color: #292929
        clearfix()
        background #aaa
        text-align: center
        position: relative
        .col-1
            span(7/20)
            h2
                text-align: center
        .col-2
            span(6/20)
            button
                align(vertical)
                button: #dadada, 16, #666
                border-radius: 5px
                font-family: 'PT Sans'
                font-weight: normal
                margin-left: -12.5%
            h2
                text-align: center
        .col-3
            span(2/20)
            h2
                text-align: center
        border-bottom: 3px solid #494949
        margin-bottom: -2px
    table
        width: 100%
        input[type="checkbox"]
            display: block
            margin: auto
        tr
            table()
            td
                vertical-align: middle
                text-align: center
            td.school-col
                width: 35%         
            td.bags-col
                width: 30%
            td.num-col
                text-align: center
                input
                    width: 60px
                width: 10%
            td.submit-col
                text-align: center
                width:25%
        tr:nth-child(even)
            background: #eee

headertop
    a
        color: #494949
        text-decoration: none
    section
        padding-top: 2.5%
        padding-bottom: 2.5%
        background: #eee
        clearfix()
    .container
        clearfix()
        center(95%)
        position: relative
        text-align: center
    img
        size: 75%
    .col-1
        span(7/20)
    .col-2
        span(3/20)
        align(vertical)
        margin-left: 35%
        margin-top:2.5%
        border-right: 2px solid #494949
        a
            font-size: 1.2em
    .col-3
        span(3/20)
        align(vertical)
        margin-left: 50%
        margin-top: 2.5%
        a
            font-size 1.2em
    .col-4
        span(7/20)
        align(vertical)
        height: 100%
        margin-left: 65%
        button
            align(both)
            button: #7B342E, 30, #fff
            border-radius: 5px
            font-family: 'PT Sans'
            width: 50%
            
bagview
    position: fixed;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    
bagview:target
    opacity:1;
    pointer-events: auto;

bagview
    form
        center(100%)
    
    .top-bar
        .field
            float: left
            field()
        button
            float: left
            button: #67a236, 14, #cbe2b7
            display:inline
            border-radius: 5px
            font-family: 'PT Sans'
            font-weight: normal
            margin-left: 20px;
    .col-2
        center(100%)
        text-align: right
        p
            float:left
            margin-left: 50%
    .wrapper
        center(40%)
        position: relative;
        margin: 2.5% auto;
        padding: 2.5%;
        background: #fff;
    .close 
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 11px;
        border-radius: 12px;
    .table-wrapper
        center(100%)
    table 
        td.item
            width: 45%
        td.quantity
            clearfix()
            .field
                display:inline
                field: right 20px
            width: 45%
        td.delete
            a
                color: #7B342E
            width: 10%
        width: 100%

    .close:hover 
        background: #909091;

new-item
    position: fixed;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    .wrapper
        center(40%)
        position: relative;
        margin: 2.5% auto;
        padding: 2.5%;
        background: #fff;
    .close 
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 11px;
        border-radius: 12px;
        
new-school
    position: fixed;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    .wrapper
        center(40%)
        position: relative;
        margin: 2.5% auto;
        padding: 2.5%;
        background: #fff;
    .close 
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 11px;
        border-radius: 12px;
        
new-item:target
    opacity:1;
    pointer-events: auto;
    
new-school:target
    opacity:1;
    pointer-events: auto;
    
.main-bottom-bar
    background: #494949
    section.footer
        center(95%)
        button
            button: #cbe2b7, 18, #67a236
            margin-right: 2.5%
            margin-top: 20px
            margin-bottom: 20px
            border-radius: 5px
            font-family: 'PT Sans'
            font-weight: normal
    
       