doctype html

html
    head
        title RiotJS Contact List AJAX

        link(rel="stylesheet" href="css/main.css")

    body
        section
            contact-list

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="js/riot.min.js")
        script(src="js/all-tags.min.js")
        script(src="js/global.min.js")